@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

$font-size: 0.85rem;
$header-height: 55px;

$white: #ffffff;
$light-grey: #717171;

$bg-1st-dark: #121212;
$bg-2nd-dark: #272727;
$bg-3rd-dark: #383838;

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: $bg-1st-dark;
  color: $white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: $header-height;
  background-color: $bg-2nd-dark;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;

  .logo {
    margin: 0 1rem;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    width: 100%;
    border: 1px solid $bg-3rd-dark;
    background-color: $bg-3rd-dark;
    input {
      padding: 10px;
      background-color: $bg-1st-dark;
      color: $white;
      border: $bg-3rd-dark;
      width: 100%;
    }
    button {
      width: 3.5rem;
      vertical-align: middle;
      border: 1px solid $bg-3rd-dark;
      background-color: $bg-3rd-dark;
      i {
        color: $bg-2nd-dark;
      }
      .material-icons {
        &.md-light {
          color: lighten($bg-3rd-dark, 25%);
          &:hover {
            transition-duration: 0.5s;
            color: lighten($bg-3rd-dark, 50%);
          }
        }
        &.md-inactive {
          color: darken($bg-3rd-dark, 25%);
        }
      }
    }
  }
  .menu {
    margin: 0 1rem;
    button {
      background-color: $bg-2nd-dark;
      border: 1px solid $bg-2nd-dark;
      color: $white;

      .material-icons {
        &.md-light {
          color: $white;
          &:hover {
            transition-duration: 0.5s;
            color: darken($white, 25%);
          }
        }
        &.md-inactive {
          color: darken($white, 25%);
        }
      }
    }
  }

  button {
    :hover {
      cursor: pointer;
      transition-duration: 0.5s;
    }
  }
}

a {
  color: $white;
  text-decoration: none;
}

/* Profile Page - top section */
#profile_meta {
  margin: 0 2rem;
  margin-top: $header-height;
  h1 {
    padding: 2rem 0 0;
    margin-bottom: 0;
  }
  p {
    font-size: $font-size;
  }
  #memberSince {
    margin-top: 0.25rem;
    color: $light-grey;
  }
}

/* Homepage, Profile Page */
#video_list,
#video_upload_list,
#video_watched_list {
  margin: 0 2rem;
  > h1 {
    text-align: center;
    padding: 2rem 0;
    margin: 0;
  }
  > h3 {
    margin-top: 0;
  }
  .video_container {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    .video,
    .video_meta {
      display: inline-block;
    }
    .video {
      vertical-align: top;
      margin-right: 1rem;
      position: relative;

      .video_link {
        video {
          max-width: 25vw;
          float: left;
        }
        .progress_bar_bg {
          z-index: 2;
          width: 100%;
          height: 4px;
          background-color: white;
          bottom: 0;
          position: absolute;
          .progress_bar {
            z-index: 1;
            width: 40%;
            height: 4px;
            background-color: red;
          }
        }
      }
    }
    .video_meta {
      font-size: $font-size;
      > p {
        margin-top: 0rem;
        margin-bottom: 0.5rem;
      }
      .title {
        margin-top: 0rem;
        margin-bottom: 0.25rem;
      }
      .name {
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      .uploadedAt,
      .lastViewed {
        color: $light-grey;
      }
      .description {
        /* Prevents the description from going beyond 3 lines */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

/* Homepage */
#video_list {
  margin-top: $header-height;
}

/* Video Page */
#video_container {
  margin: 0 auto;
  margin-top: $header-height;
  background-color: black;
  max-height: 80%;
  #video {
    margin: 0 auto;
    /* Limit the video width to the height of the page */
    max-width: 145vh;
    video {
      width: 100%;
    }
  }
}

#video_meta {
  font-size: $font-size;
  margin: 1rem 2.5rem;
  #uploadedAt,
  #name,
  #description {
    font-size: 14px;
  }
  #name {
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  #uploadedAt {
    color: $light-grey;
  }
  #description {
    a {
      text-decoration: underline;
    }
  }
}

#video_comments {
  margin: 1rem 2.5rem;
  .comment_container {
    font-size: $font-size;
    margin-top: 1.5rem;
    &:nth-child(2) {
      display: none;
    }
    .comment_user {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    .comment_date {
      color: $light-grey;
    }
    .comment_body {
      margin-top: 0.3rem;
    }
  }
}

// Landscape Phones
@media (min-width: 576px) {
}

// Tablets
@media (min-width: 768px) {
}

// Desktops
@media (min-width: 992px) {
  header .search {
    margin: 0 25%;
  }
  #video_meta,
  #video_comments {
    margin: 1rem 7rem;
  }
}

// Wide Desktops
@media (min-width: 1200px) {
}
